<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Kirim semua request yang tidak dimulai dengan "public/" ke folder "public/" secara internal
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
