<IfModule mod_rewrite.c>
    RewriteEngine On

    # Kirim request kosong ke folder public/
    RewriteRule ^$ public/ [L]

    # Kirim semua request yang tidak dimulai dengan "public/" ke folder "public/"
    RewriteRule ^((?!public/).*)$ public/$1 [L]
</IfModule>
